
<div class="infiniteScroll"
      infinite-scroll
      [infiniteScrollDistance]="infScrollDistance"
      [infiniteScrollUpDistance]="infScrollUpDistance"
      [infiniteScrollThrottle]="infScrollThrottle"
      [infiniteScrollContainer]="recSelecinaClass"
      [fromRoot]="true"
      [immediateCheck]="true"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()" >

    <div class="grupo-visual" id="{{ item.id }}" *ngFor="let item of recData" (mouseenter)="notificarDestacarItem(item)"  >
        <div class="descicao-visual" (click)="exibirConteudo(item)" >
            ===: ID {{ item.id }} - DESCRIÇÃO DO DOCUMENTO :===
        </div>
        <div class="item-visual">
          <div class="spinner-visual" *ngIf="!item.isExibirConteudo" ></div>
          <pdf-viewer  *ngIf="item.isExibirConteudo" [src]="item.conteudo" ></pdf-viewer>
        </div>
    </div>
</div>